@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400&family=Concert+One&family=Fira+Sans:wght@300&family=Josefin+Sans:wght@300&family=Righteous&family=Staatliches&family=Vampiro+One&family=Montserrat:wght@200&family=Fugaz+One&display=swap');

@font-face {
    font-family: "ostrich-regular";
    src: url("/fonts/ostrich-regular.ttf");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "ostrich-light";
    src: url("/fonts/ostrich-light.otf");
    font-display: swap;
}

@font-face {
    font-family: "guildof";
    src: url("/fonts/guildof.ttf");
    font-display: swap;
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: guildof;
    overflow-x: hidden;
    scrollbar-color: #3d3d5c #b3ccff;
    -scrollbar-width: 12px;
}

::selection {
    background: #81E6D9;
    color: #E53E3E;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #b3ccff;
}

::-webkit-scrollbar-thumb {
    background: #3d3d5c;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

a {
  color: inherit;
  text-decoration: none !important;
}

.highlight {
    transition: all 0.4s;
    position: absolute;
    top: 0;
    background: #ffffe6;
    left: 0;
    order: 5;
    border-radius: 20px;
    display: none;
    opacity: 0.4;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#all-containers{
    overflow-x: hidden;
}

.container-header {
    font-size: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
}