@font-face{
    font-family: "ostrich-regular";
    src: url("/fonts/ostrich-regular.ttf");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "ostrich-light";
    src: url("/fonts/OstrichSans-Light.otf");
}

@font-face {
    font-family: "guildof";
    src: url("/fonts/guildof.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: guildof;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}