@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Staatliches&family=Vampiro+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*use this for progress displays*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

@font-face {
    font-family: "ostrich-regular";
    src: url("https://res.cloudinary.com/gamersinstinct7/raw/upload/v1604069019/portfolio/fonts/ostrich-regular_wnusow.ttf");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "ostrich-light";
    src: url("https://res.cloudinary.com/gamersinstinct7/raw/upload/v1604069019/portfolio/fonts/OstrichSans-Light_qtfgmr.otf");
}

@font-face {
    font-family: "guildof";
    src: url("https://res.cloudinary.com/gamersinstinct7/raw/upload/v1604069019/portfolio/fonts/guildof_oyav34.ttf");
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: guildof;
    overflow-x: hidden;
    scrollbar-color: #3d3d5c #b3ccff;
    scrollbar-width: 12px;
}

::selection {
    background: #81E6D9;
    color: #E53E3E;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #b3ccff;
}

::-webkit-scrollbar-thumb {
    background: #3d3d5c;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

a {
  color: inherit;
  text-decoration: none !important;
}